[submodule "repos/dotbot"]
	path = repos/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "repos/dotbot-brewfile"]
	path = repos/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "repos/zplug"]
	path = repos/zplug
	url = https://github.com/zplug/zplug
